extends ./layout/layout
block content
    h1 Day la do an cua Nguyen Duc Trong
    a.btn.btn-primary(href="/users") see users &rarr;
    .m-3
    a.btn.btn-primary(href="/products") see products &rarr;